<app-user-navbar></app-user-navbar>
<div class="search-results-container">
  <h2>Search Results for "{{ searchTerm }}"</h2>
  
  <div *ngIf="searchResults.length > 0; else noResults">
    <div *ngFor="let vendor of searchResults" class="vendor-card">
      <mat-card class="vendor-card-content" (click)="goToVendorProfile(vendor.name)">
        <img class="vendor-img" mat-card-image [src]="vendor.image" alt="{{ vendor.name }} Image">
        <div class="vendor-det">
          <h3>{{ vendor.name }}</h3>
          <p>{{ vendor.description }}</p>
          <p>Category: {{ vendor.category }}</p>
          <p>
            Rating: 
            <mat-icon *ngFor="let star of getStars(vendor.rating)">star</mat-icon>
            ({{ vendor.rating }} / 5)
          </p>
          <p>{{ vendor.peopleServed }} people served</p>
        </div>
      </mat-card>
    </div>
  </div>

  <ng-template #noResults>
    <p>No vendors found for "{{ searchTerm }}".</p>
  </ng-template>
</div>