.cart-container {
    padding: 20px;
    width: 90%;
    margin: auto;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .cart-item {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 8px;
  
      .item-details p {
        margin: 0;
      }
  
      .item-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        button {
          margin-bottom: 5px;
        }
      }
    }
  
    button {
      display: block;
      width: 100%;
      margin-top: 20px;
    }
  
    .empty-cart {
      text-align: center;
      font-size: 1.2rem;
      color: #888;
      margin-top: 20px;
    }
  }
  