<div class="body-container">
  <h1>Your Orders</h1>

  <div *ngIf="todayPlannerOrders.length > 0 || todayVendorOrders.length > 0">

    <h2>Orders Scheduled for Today</h2>
    <!-- Today's Planner Orders -->
    <div *ngIf="todayPlannerOrders.length > 0">
      <div *ngFor="let order of todayPlannerOrders">
        <p><strong>Event Type:</strong> {{ order.orderDetails.eventType }}</p>
        <p><strong>Event Date:</strong> {{ order.orderDetails.eventDate }}</p>
        <p><strong>Event Description:</strong> {{ order.orderDetails.eventDescription }}</p>
        <p><strong>Planner Name:</strong> {{ order.plannerName }}</p>
        <p><strong>Tier:</strong> {{ order.tier }}</p>
        <hr />
      </div>
    </div>

    <!-- Today's Vendor Orders -->
    <div *ngIf="todayVendorOrders.length > 0">
      <div *ngFor="let order of todayVendorOrders">
        <p><strong>Vendor Name:</strong> {{ order.orderDetails.vendorName }}</p>
        <p><strong>Service Date:</strong> {{ order.orderDetails.servingDetails.serviceDate }}</p>
        <p><strong>Service Time:</strong> {{ order.orderDetails.servingDetails.serviceTime }}</p>
        <p><strong>Location:</strong> {{ order.orderDetails.servingDetails.serviceLocationType }}</p>
        <p><strong>Fare:</strong> ₹{{ order.orderDetails.vendorFare }}</p>
        <hr />
      </div>
    </div>
  </div>

  <div *ngIf="upcomingPlannerOrders.length > 0 || upcomingVendorOrders.length > 0">

    <h2>Upcoming Orders</h2>
    <!-- Upcoming Planner Orders -->
    <div *ngIf="upcomingPlannerOrders.length > 0">
      <div *ngFor="let order of upcomingPlannerOrders">
        <p><strong>Event Type:</strong> {{ order.orderDetails.eventType }}</p>
        <p><strong>Event Date:</strong> {{ order.orderDetails.eventDate }}</p>
        <p><strong>Event Description:</strong> {{ order.orderDetails.eventDescription }}</p>
        <p><strong>Planner Name:</strong> {{ order.plannerName }}</p>
        <p><strong>Tier:</strong> {{ order.tier }}</p>
        <hr />
      </div>
    </div>
    <!-- Upcoming Vendor Orders -->
    <div *ngIf="upcomingVendorOrders.length > 0">
      <div *ngFor="let order of upcomingVendorOrders">
        <p><strong>Vendor Name:</strong> {{ order.orderDetails.vendorName }}</p>
        <p><strong>Service Date:</strong> {{ order.orderDetails.servingDetails.serviceDate }}</p>
        <p><strong>Service Time:</strong> {{ order.orderDetails.servingDetails.serviceTime }}</p>
        <p><strong>Location:</strong> {{ order.orderDetails.servingDetails.serviceLocationType }}</p>
        <p><strong>Fare:</strong> ₹{{ order.orderDetails.vendorFare }}</p>
        <hr />
      </div>
    </div>
  </div>

  <div *ngIf="previousPlannerOrders.length > 0 || previousVendorOrders.length > 0">

    <h2>Previous Orders</h2>
    <!-- Upcoming Planner Orders -->
    <div *ngIf="previousPlannerOrders.length > 0">
      <div *ngFor="let order of previousPlannerOrders">
        <p><strong>Event Type:</strong> {{ order.orderDetails.eventType }}</p>
        <p><strong>Event Date:</strong> {{ order.orderDetails.eventDate }}</p>
        <p><strong>Event Description:</strong> {{ order.orderDetails.eventDescription }}</p>
        <p><strong>Planner Name:</strong> {{ order.plannerName }}</p>
        <p><strong>Tier:</strong> {{ order.tier }}</p>
        <hr />
      </div>
    </div>
    <!-- Upcoming Vendor Orders -->
    <div *ngIf="previousVendorOrders.length > 0">
      <div *ngFor="let order of previousVendorOrders">
        <p><strong>Vendor Name:</strong> {{ order.orderDetails.vendorName }}</p>
        <p><strong>Service Date:</strong> {{ order.orderDetails.servingDetails.serviceDate }}</p>
        <p><strong>Service Time:</strong> {{ order.orderDetails.servingDetails.serviceTime }}</p>
        <p><strong>Location:</strong> {{ order.orderDetails.servingDetails.serviceLocationType }}</p>
        <p><strong>Fare:</strong> ₹{{ order.orderDetails.vendorFare }}</p>
        <hr />
      </div>
    </div>
  </div>
  <!-- No Orders -->
  <div *ngIf="todayPlannerOrders.length === 0 && todayVendorOrders.length === 0 && upcomingVendorOrders.length === 0 && upcomingPlannerOrders.length === 0 && previousPlannerOrders.length === 0 && previousVendorOrders.length === 0">
    <p>No orders</p>
  </div>
</div>
